<!-- Navbar
================================================== -->
<div class="row">
    <div class="col-lg-12">

	<div class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="{{ url('home') }}">{{ translate('Головна') }}</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
		    <ul class="nav navbar-nav">
			<li><a  class="text-success" href="{{ url('about') }}">{{ translate('About') }}</a></li>
			<li><a  class="text-success" href="{{ url('services') }}">{{ translate('Услуги') }}</a></li>
			<li><a href="/todo.php">Todo list</a></li>			
			<li><a href="/todo.php">{{yo}}</a></li>			
			{#
			<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teachers <b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="{{ url('teachers') }}">List</a></li>
				{% for teacher in teachers if teacher.urlName is not empty %}
				    <li><a href="/teachers/{{teacher.urlName}}">{{teacher.name}}</a></l
				{% endfor %}
				<li><a href="/todo.php">Todo list</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Premium Teachers</li>
				<li><a href="#">Yasilda 1</a></li>
				<li><a href="#">Yasilda 2</a></li>
			    </ul>
			</li>
			#}
		    </ul>
			{#
		    <form class="navbar-form navbar-left">
			<input type="text" class="form-control col-lg-8" placeholder="Search">
		    </form>
#}
		    <ul class="nav navbar-nav navbar-right">
			<li><a href="{{ url('contacts') }}">{{ translate('Contacts') }}</a></li>
			{#
			<li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
			    <ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			    </ul>
			</li>
			#}
		    </ul>
		</div><!-- /.nav-collapse -->
	    </div>
	</div><!-- /.navbar -->

    </div>
</div>

